
<vf-toolbar></vf-toolbar>
<!--<div class="flex-container"-->
     <!--fxLayout="row"-->
     <!--fxLayout.xs="column"-->
     <!--fxLayoutAlign="center center"-->
     <!--fxLayoutAlign.xs="start">-->
  <!--<div fxFlex="15%" fxFlex.xs="40%">-->
    <!--left-->
  <!--</div>-->
  <!--<div fxFlex>-->
    <!--<vf-chart></vf-chart>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div fxFlex="15%" fxFlex.xs="40%">&ndash;&gt;-->
    <!--&lt;!&ndash;right&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

