<ngb-accordion [closeOthers]="true" (panelChange)="onSelectedRoom($event.panelId)">
  <ngb-panel *ngFor="let room of rooms" [id]="room.name" >
    <template ngbPanelTitle>
      <span>{{room.name}}</span>
    </template>
    <template ngbPanelContent>
      <ngb-tabset class="nav-fill" (tabChange)="onSelectedRack($event.nextId)" [id]="room.name + '-tabset'">
        <ngb-tab *ngFor="let rack of room.racks" [id]="rack.name + '-tab'">
            <template ngbTabTitle>
              <span>{{rack.name}}</span>
            </template>
            <template ngbTabContent>
              <br>
              <div class="row justify-content-center">
                <rack-detail [rack]="rack" (onSelectedSensorName)="onSelectedSensorName($event)"></rack-detail>
              </div>
              <br>
              <div *ngIf="chartOpen" class="flex-lg-nowrap">
                <vf-chart [sensors]="rack.sensors[selectedSensor]"></vf-chart>
              </div>
            </template>
        </ngb-tab>
      </ngb-tabset>
    </template>
  </ngb-panel>
</ngb-accordion>
