<!--<div class="btn-group" role="group" aria-label="sensor-names">-->
  <!--<button *ngFor="let name of rack.sensorNames" class="btn btn-outline-primary" data-toggle="button" [id]="rack.name + name"-->
  <!--(click)="emitSelectedSensor(name)">-->
  <!--</button>-->
<!--</div>-->


<div [(ngModel)]="model" ngbRadioGroup>
  <label *ngFor="let name of rack.sensorNames" class="btn btn-outline-primary">
    <input type="radio" [value]="name" (click)="emitSelectedSensor(name)">
    {{name}}
  </label>
</div>
